/* Базовые подключения */
@import url("./layout.css");
@import url("./reset.css");
@import url("./typography.css");

/* Подключение стилей компонентов */
@import url("./components/header.css");
@import url("./components/hero.css");
@import url("./components/description.css");

:root {
    /* Цветовые переменные */
    --text-color-black: #000000;
    --text-color-dark: #292A2D;
    --text-color-green: #004250;
    --text-color-gray: #73726C;
    --text-color-white: #FFFFFF;

    /* Переменные размеров */
    --background-color-white: #FFFFFF;
    --background-color-light-gray: #73726C;
    --background-color-dark-gray: #313236;
    --background-yellow: #FBFBF6;
    --background-green: #004250;
    --background-dark: #292A2D;

    /* Типографика */
    --text-size-large: 42px;
    --text-size-medium: 33px;
    --text-size-low: 26px;
    --text-description: 15px;
    --text-button: 12px;

    --breakpoint-mobile: 480px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1035px;
    --breakpoint-large-desktop: 1200px;

    /* Переменные для эффектов и состояний */
    --transition-fast: 0.2s ease-in-out;
    --transition-medium: 0.4s ease-in-out;
    --transition-slow: 0.6s ease-in-out;
    --box-shadow-default: 0 2px 4px rgba(0, 0, 0, 0.1);
    --opacity-hover: 0.8;

    /* Переменные размера блоков */
    --block-padding-small: 10px;
    --block-padding-medium: 20px;
    --block-padding-large: 30px;
    --block-margin-small: 5px;
    --block-margin-medium: 15px;
    --block-margin-large: 25px;
    --block-border-radius: 5px;
}
