@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/ttf/Roboto-Regular.ttf") format("truetype"),
    url("../assets/fonts/Roboto/woff/Roboto-Regular.woff") format("woff"),
    url("../assets/fonts/Roboto/woff2/Roboto-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-wrap: nowrap;
}
