.balance {
    margin-top: 112px;
    width: 100%;
    height: 592px;
    background-color: var(--background-color-light-gray);
}

/* .balance__wrapper-left {
    padding-top: 116px;
} */

.balance__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 116px;
}

.balance__text {
    color: var(--text-color-white);
}

.balance__text-tag {
    font-size: 13px;
    text-transform: uppercase;
    opacity: 60%;
}

.balance__text-title {
    margin-top: 113px;
    font-size: 106px;
    line-height: 116px;
    letter-spacing: 5px;
    margin-bottom: 48px;
}

.balance__text-description p {
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 22px;
}
